@media only screen and (max-width: 1024px) {
	.invisible-tablet{
		visibility: hidden;
		display: none;
	}

	.header-logo img{
		width: initial;
	}

	.pagBox-default{
		height: 550px;
	}

	div#parceiros img {
	  height: 50px;
	  width: 50px;
	}

	div#frota-tumb img {
	  height: 50px;
	  width: 50px;
	}

	div#faleconosco i.fa {
		font-size: 40px;
	}

	.sobrenos-img img{
		height: 100px;
	}

}

@media only screen and (max-width: 600px) {
	.invisible-celphone{
		visibility: hidden;
		display: none;
	}

	.footer{
		height: 200px;
	}

	.pagBox-default{
		height: 800px;
	}

	div#parceiros img {
	  height: 80px;
	  width: 80px;
	}

	.slide-frota #myCarousel{
		height: 250px;
		border-bottom: 4px solid #415b70;
		text-align: center;
	}

}

@media only screen and (max-width: 320px) {

	.invisible-microcel{
			visibility: hidden;
			display: none;
		}

	div#faleconosco i.fa {
		font-size: 20px;
	}

	.micro-pdg{
		padding-top: 10px;
	}

	div#frota-tumb img {
		height: 35px;
		width: 35px;
	}

}
