			/***************************************/
			/***** OPÇÕES DEFAULT SITE CONFIG ******/ 
			/***************************************/

p    {margin:0px;color: #ccc;}
h1   {color: #999;}
h4   {color: #ccc;}
body {z-index: 0;background-color:#2C2E2F; font-family: 'Roboto', sans-serif;}


			/***************************************/
			/***** OPÇÕES DEFAULT UTILITÁRIOS ******/
			/***************************************/

.nopadding-l{ padding-left:0px;padding-right:0px; }
.nopadding-h{ padding-top:0px;padding-bottom: 0px;}

.nomargin-l{ margin-left:0px;margin-right:0px; }
.nomargin-h{ margin-top:0px;margin-bottom:0px; }

.pdg-top5 {padding-top:  5px;}
.pdg-top10{padding-top: 10px;}
.pdg-top15{padding-top: 15px;}
.pdg-top20{padding-top: 20px;}
.pdg-top40{padding-top: 40px;}

			/***************************************/
			/***** OPÇÕES DEFAULT PAGE BOXES ******/
			/***************************************/

.header-menu{
	z-index: 10;
	height: 100px;
	position:fixed;
	border-top: 3px solid #B78F66;
	background-image: url(../img/pattern.png);
}

.pagBox-index{
	min-height: 230px;
	background-image: url(../img/pattern.png);
}

.pagBox-common{
	min-height: 665px;
	background-image: url(../img/pattern.png);
}

.fixermenu{
	height:100px;
}

#mapa{ 
  height: 250px; 
  border: 1px solid #ccc;
}


			/***************************************/
			/**** OPÇÕES DEFAULT BANNER CONTENT ****/
			/***************************************/

.district{
	margin-top: -30px;
	height: 32px;
	border-bottom:3px solid #B78F66;
}

.seta{ 
	border-right: 50px solid transparent; 
	border-bottom: 30px solid #2C2E2F;
	opacity: 0.7;
}
.seta1{ 
	border-left: 50px solid transparent; 
	border-bottom: 30px solid #2C2E2F;
	opacity: 0.7;
}

			/***************************************/
			/*****   OPÇÕES DEFAULT BUTTONS   ******/
			/***************************************/

.simple-button{
	cursor:pointer;
	padding: 30px 45px;
	font-size: 18px;
	font-weight: bold;
	border-radius: 0px;
	transition: color 0.5s;
} 

.simple-button:hover{ color: #5F5F5F; }

.button-large{ padding: 30px 20px; }

			/***************************************/
			/******** OPÇÕES DEFAULT CORES *********/
			/***************************************/ 

.cinza-claro{ background-color:#4D4E4F; }
.cinza-escuro{ background-color:#2C2E2F; }
.laranja-claro{	background-color:#B78F66; }


/***************************************/
/************* ESPECIFICAS *************/
/***************************************/ 
div#faleconosco i { text-align:center; }

div#homeicons i.fa {
    color: #ccc;
	font-size: 150px;
	display: inline-block;
}

div#faleconosco i.fa {
    width: 100%;
    color: #2C2E2F;
	font-size: 65px;
	display: inline-block;
}

div#sobrenos ul{
	color: #ccc;
	font-size:17px;
}