/***************************************/
/***** OPÇÕES DEFAULT SITE CONFIG ******/
/***************************************/

body{z-index: 0; font-family: 'Roboto', sans-serif;}


h1{color:#f6f4f4 !important;text-align: center;}
h2{color:#251E68 !important;text-align: justify;}
h3{color:#f6f6f6 !important;text-align: justify;font-size: 20px !important;margin-bottom: 5px !important;}
li{color:#f4f4f4 !important;margin-top: 2.5px;}
p{color:#f6f6f6 !important;}

#sobrenos ul{padding-top: 0px;}

/***** OPÇÕES DEFAULT UTILITÁRIOS ******/

.nopadding  { padding: 0px !important;}

.preto{background-color:black;}
.cinza-escuro{background-color:#3d3d3d;}

.cinza{background-color:#333;}

/***************************************/
/******** OPÇÕES DEFAULT MENU **********/
/***************************************/

nav{height:70px;}
.img-navbar{padding-top: 15px;}

ul{list-style:none;height: 60px;padding-top: 20px;} 
	
a{ 
	font-size: 19px;
	text-align: center;
	color: white !important;
	text-decoration:none !important;
}

a:hover{
	color:#336666 !important;
	cursor: pointer;
	transition:all 0.3s ease-in-out;
}
            

/***************************************/
/******** OPÇÕES DEFAULT IMG'S *********/
/***************************************/

.parce-imgs:focus{outline:none !important}
.parce-imgs img{align-items: center !important}

div#parceiros img {
    height: 150px;
    width: 150px;
    opacity: 0.7;
}

/***************************************/
/******** OPÇÕES DEFAULT PAGES *********/
/***************************************/

.pagBox{height: auto;background-attachment: fixed;}

.index-page{
	height: 469px; 
	background-image: url(../img/background_home.jpg);
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center;
}

.frota-page,
.sobre-page{background-image: url(../img/background_sobrenos.jpg);background-size: cover;} 

.jumbo-page .row,
.frota-page .row,
.parce-page .row,
.sobre-page .row{height: 320px;}


/***************************************/
/** OPÇÕES DEFAULT FIXER MENU CONTENT **/
/***************************************/

.fixer-cima{
	border-top: 35px solid #333;
	border-right: 35px solid transparent;
}

.fixer-cima1{
	border-top: 35px solid #333;
	border-left: 35px solid transparent;
}

.fixerseta{
	border-bottom: 35px solid #333;
	border-right: 35px solid transparent;
}

.fixerseta1{
	border-bottom: 35px solid #333;
	border-left: 35px solid transparent;
}

/***************************************/
/************* ESPECIFICAS *************/
/***************************************/

div#faleconosco i.fa {
    width: 100%;
    color: #ABA9AC;
	font-size: 60px;
    margin-top: 15px;
}

.copy{
	margin: 20px;
	background: #333;
	text-align: center;
} .copy p{margin-top: 10px;}

#map{
  height: 250px;
}
